/* Bootstrap Overrides */

.btn {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    border-radius: 0px !important;
}

.form-control {
    --bs-body-color: var(--bs-primary);
    --bs-border-color: var(--bs-primary) !important;
}

.form-control:focus {
    box-shadow: 0 0 10px rgb(120 128 140 / 25%);
    border-color: var(--bs-primary);
}

.form-control::placeholder {
    opacity: 0.5;
}

/* Font size overrides */
.fs-5 {
    font-size: 1.25rem !important;
}

@media (max-width: 728px) {
    .fs-5 {
        font-size: 0.8rem !important;
    }
}

/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: var(--bs-secondary);
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}