.btn {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    border-radius: 0px !important;
}

.form-control {
    --bs-body-color: var(--bs-primary);
    --bs-border-color: var(--bs-primary) !important;
}

.form-control:focus {
    box-shadow: 0 0 10px rgb(120 128 140 / 25%);
    border-color: var(--bs-primary);
}

.form-control::placeholder {
    opacity: 0.5;
}
