/* Bootstrap Overrides */

.btn {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-bg: var(--background-color);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-primary);

    --bs-button-box-shadow: none;
    border-radius: 0px !important;
}

.form-control {
    --bs-body-color: var(--bs-primary);
    --bs-border-color: var(--bs-primary) !important;
}

.form-control:focus {
    box-shadow: 0 0 10px rgb(120 128 140 / 25%);
    border-color: var(--bs-primary);
}

.form-control::placeholder {
    opacity: 0.5;
}

/* Font size overrides */
.fs-5 {
    font-size: 1.25rem !important;
}

@media (max-width: 728px) {
    .fs-5 {
        font-size: 0.8rem !important;
    }
}

/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 10vh;
  height: 10vh;
  border-radius: 10px;

}
/* icon color */
.flickity-button-icon {
  fill: white;
}

.flickity-button {
  path {
    stroke-width: 2px;
  }
}

.flickity-button:hover {
  background: none;
  cursor: pointer;
}

.flickity-button:focus {
  box-shadow: none;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 15px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 1px solid var(--bs-primary);
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: var(--bs-primary);
}