#jak-powstaje-carousel {
    --bs-border-width: 0px;
    --bs-border-radius: 0px;


    /* if jak-postaje-carousel has class flickity-enabled then add dropshadow */
    &.flickity-enabled {
        box-shadow: var(--card-dropshadow);
    }

    &.flickity-enabled .carousel-cell {
        box-shadow: none;
    }

    .content {
        background-color: inherit;
    }

    .carousel-cell {
        /* Default: auto height for portrait */
        height: auto;
    }

    .jak-powstaje-img-container {
        position: relative;
    
        .slide-number {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }
    
        .background {
            object-fit: cover;
        }
    
        img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}


.jak-powstaje-container {
    height: auto;
}

@media (min-width: 767.98px) {
    .jak-powstaje-container {
        height: 40vh;
    }

    #jak-powstaje-carousel .carousel-cell {
        height: 100% !important;
    }
}

/* for wide but small devices make the height a bit larger */
@media (min-width: 768px) and (max-width: 991.98px) {
    .jak-powstaje-container {
        height: 60vh;
    }
}

@media (min-width: 992px) {
    .jak-powstaje-container .text-primary {
        font-size: 1.2rem;
    }
}


