section.offer-section .card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

section.offer-section .col-md-4 {
    padding-right: calc(0.25 * var(--bs-gutter-x));
    padding-left: calc(0.25 * var(--bs-gutter-x));
}

section.offer-section .row {
    overflow: hidden;
    padding-right: calc(0.25 * var(--bs-gutter-x));
    padding-left: calc(0.25 * var(--bs-gutter-x));
}


section.offer-section .offer-card {
    /* default height just in case */
    height: 200px;
}

/* for size below md height height should be auto as long as card is expanded */
@media (max-width: 767.98px) {
    section.offer-section .offer-card.offer-collapsed {
        height: 200px;
    }
    section.offer-section .offer-card.offer-expanded {
        height: auto;
    }
}

/* for size above md, make the height 400px */
@media (min-width: 768px) {
    section.offer-section .offer-card {
        height: 400px;
    }
    section.offer-section .offer-card .card-image-container {
        height: 60%;
    }
    section.offer-section .offer-card .offer-body {
        height: 40%;
    }
    section.offer-section .offer-card .body-expanded {
        height: 100%;
    }
}


section.offer-section .card {
    height: 400px;
}

section.offer-section .card-text-group {
    overflow: hidden;
}


section.offer-section .offer-collapsed .optional {
    display: none;
}

section.offer-section .offer-expanded .optional {
    display: block;
}

section.offer-section .btn-group {
    display: flex;
    justify-content: center;
}

section.offer-section .btn-group .btn {
    max-width: 250px;
    width: 100%;
}