section.offer-section .card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

section.offer-section .col-md-4 {
    padding-right: calc(0.25 * var(--bs-gutter-x));
    padding-left: calc(0.25 * var(--bs-gutter-x));
}

section.offer-section .row {
    overflow: hidden;
    padding-right: calc(0.25 * var(--bs-gutter-x));
    padding-left: calc(0.25 * var(--bs-gutter-x));
}

section.offer-section {
    .card {
        height: 400px;
    }

    .card-image-container {
        height: 60%;
    }

    .card-body {
        height: 40%;
    }

    .card-text-group {
        overflow: hidden;
    }
}