html,body {
    height:100%;
    padding:0;
    margin:0;
    background-image: url(../resources/img/stock-photo-watercolor-floral-seamless-pattern-in-vintage-rustic-style-colored-garden-illustration-on-ivory-2139439847.jpg);
    background-repeat: repeat; /* or repeat-x or repeat-y */
    background-size: cover;
}

.main-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shutter {
    background-color: rgba(0, 0, 0, 0.7);
}

.root-content-container{
    margin: 0 auto; /* This centers the container horizontally */
}

a.anchor {
    display: block;
    position: relative;
    top: -66px;
    visibility: hidden;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.section-header {
    .image-container {
        height: 10vh;
    }

    img {
        height: 100%;
    }

    .spacing {
        margin: 0 auto;
        width: 40%;
    }
}

.landing-page {
    background-color: transparent;
}

.background-neutral {
    background-color: white;
}

.topmost {
    padding-top: 80px;
}

.rotated {
    transition: transform 2s ease;
    transform: rotate(360deg);
}
