body {
    background-color:rgb(245, 255, 243);
    background-image: url(../resources/img/floral-contour-rotated-green-filter.jpg);
    background-repeat: repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    padding-top: calc(var(--bs-gutter-x) * 0.5);
}

:root {
    /* Bootstrap's primary color */
    --bs-primary: rgb(17, 77, 7);
    --bs-primary-rgb: 7, 77, 7;

    /* Bootstrap's secondary color */
    --bs-secondary: rgb(17, 77, 7);
    --bs-secondary-rgb: 7, 77, 7;
    --bs-secondary-color: rgb(17, 77, 7);

    --navbar-height: 60px;
    --gallery-info-bar-height: 50px;

    --separator-color: rgba(17, 77, 7, 0.3);
    --navbar-color: rgb(172, 220, 244);
    --navbar-color-solid: rgb(172, 220, 244);

    --home-color: rgb(239, 219, 219);
    --background-color: white;

    --card-dropshadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.main-font {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-font {
    font-family: 'Hachi Maru Pop', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #2a7c6f !important;
    margin-bottom: 15px;
    margin-left: 10px;
}

.shutter {
    background-color: rgba(0, 0, 0, 0);
}

a.anchor {
    display: block;
    position: relative;
    top: -66px;
    visibility: hidden;
}

.full-screen {
    height: calc(100vh - var(--navbar-height));
}

.section-header {
    .image-container {
        height: 10vh;
    }

    .lead {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        height: 100%;
    }

    h1 {
        font-weight: 400;
    }

    .spacing {
        margin: 0 auto;
        width: 60%;
        color: var(--separator-color);

        /* Overwrite default opacity to set it with the color */
        opacity: 1;
    }
}

.ogrodnik-card {
    box-shadow: var(--card-dropshadow)
}

.background-neutral {
    background-color: var(--background-color);
}

.topmost {
    margin-top: var(--navbar-height);
}

.rotated {
    transition: transform 2s ease;
    transform: rotate(360deg);
}

.transparent {
    opacity: 0;
}

.fade-in {
    opacity: 1;
    animation: fadeInAnimation 3s ease-in-out forwards;
}

/* Forms are square on this website */
.form-control {
    border-radius: 0px !important;
}

.pastel-1 {
    background-color: rgb(227, 255, 211);
    fill: rgb(227, 255, 211);
}

.pastel-2 {
    background-color: rgb(255, 241, 199);
    fill: rgb(255, 241, 199);
}

.pastel-3 {
    background-color: rgb(255, 220, 195);
    fill: rgb(255, 220, 195);
}

.pastel-4 {
    background-color: rgb(227, 238, 255);
    fill: rgb(227, 238, 255);
}
