.image-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    margin-top: -100px;
    padding-top: 100px;
    height: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
}

.image-header p {
	color: white;
	font-size: 50px;
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dummy-image {
    background-image: url(https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}


