
name: deploy web app prod

on:
  workflow_dispatch:

env: 
  JPEG_QUALITY: '85'


jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Get commit message and add to HTML files
        run: |
          COMMIT_MSG=$(git log -1 --pretty=%B)
          for file in *.html; do
            if [ -f "$file" ]; then
              TEMP_FILE=$(mktemp)
              echo "<!-- Deploy: $COMMIT_MSG - $(date) -->" > "$TEMP_FILE"
              cat "$file" >> "$TEMP_FILE"
              mv "$TEMP_FILE" "$file"
            fi
          done
      # - name: auto minify the files
      #   uses: nizarmah/auto-minify@v3
      #   with:
      #     overwrite: true
      # - name: Compress Images
      #   id: calibre
      #   uses: calibreapp/image-actions@main
      #   with:
      #       # compress only - do not create a pull request
      #       compressOnly: true
      #       jpegQuality: ${{ env.JPEG_QUALITY }}
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_MEADOW_0288D0A03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "/" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######